* {
    box-sizing: border-box;
    min-width: 0;
}

html {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "HelveticaNeueCyr", "Segoe UI", Arial;
    color: #222;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

#userFormContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #0002;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding: 6px;
    gap: 6px;
}

#sidebar {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    flex-shrink: 0;
    gap: 6px;
}

#sidebar > div {
    box-shadow: 0 0 6px #0004;
    border-radius: 6px;
    overflow: hidden;
}

#sidebarCategory_searchContainer {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#sidebar_searchIcon {
    color: #888;
    margin-left: 16px;
    margin-right: 0px;
}

#sidebar_searchInput {
    background: none;
    border: none;
    flex-grow: 1;
}

#sidebarCategory_mainLinks, #sidebarCategory_favorites {
    display: flex;
    flex-direction: column;
    background: #fff;
}

#sidebarCategory_mainLinks .sidebar_listItem {
    width: 100%;
    position: relative;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    font-weight: 500;
    transition: 0.4s ease;
}

#sidebarCategory_mainLinks .sidebar_listItem::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 6px;
    width: calc(100% - 6px*2);
    height: 1px;
    background: #0002;
}

#sidebarCategory_mainLinks .sidebar_listItem::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 6px*2);
    height: calc(100% - 6px*2);
    opacity: 0;
    background: linear-gradient(30deg, var(--color-primary), transparent);
    border-radius: 4px;
    transition: 0.2s ease;
}

#sidebarCategory_mainLinks .sidebar_listItem:hover::before  {
    opacity: 0.5;
}

#sidebarCategory_mainLinks .sidebar_listItem:hover {
    padding-left: 36px;
}

#sidebarCategory_favorites {
    flex-grow: 1;
}

#sidebarBottom {
    display: flex;
    flex-direction: column;
}

#sidebarBottom_callBar {
    background: var(--color-pale2);
}

#sidebarBottom_userBar {
    background: var(--color-pale3);
}

.sidebarBottom_bar {
    padding: 6px;
    display: flex;
    height: 64px;
    align-items: center;
}

#sidebarBottom button {
    background: none;
    border: none;
    color: #222;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#sidebarBottom button:hover {
    background: #0002;
}

#sidebarBottom_callBar_currentCallInfo {
    flex-grow: 1;
}

#rightSide {
    flex-grow: 1;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 18px #0004;
    z-index: 18;
}

.innerView_header {
    display: flex;
    background: #f2f2f2;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 8px #0006;
    z-index: 15;
    flex-shrink: 0;
}

.innerView_body {
    display: flex;
    height: 100%;
    width: 100%;
}

.innerView_body_leftbar {
    height: 100%;
    width: 200px;
    background: #e9e9e9;
    box-shadow: 0 0 8px #0004;
    z-index: 14;
    flex-shrink: 0;
}

.innerView_body_center {
    height: 100%;
    flex-grow: 1;
    background: linear-gradient(lightpink, coral);
    background: linear-gradient(lightcyan, lightblue);
    overflow: auto;
}

.innerView_body_rightbar {
    height: 100%;
    width: 200px;
    background: #e9e9e9;
    box-shadow: 0 0 8px #0004;
    z-index: 13;
    flex-shrink: 0;
}

.innerView {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#sidebarBottom_userBar_avatar {
    width: 48px;
    height: 48px;
    background-color: #fff;
}

#sidebarBottom_userBar_info {
    display: flex;
    flex-direction: column;
}

#sidebarBottom_userBar_visiblename {
    color: #eee;
    font-size: 14px;
    font-weight: bold;
}

#sidebarBottom_userBar_handle {
    color: #eeea;
    font-size: 12px;
}

@keyframes sidebarLogo_inner {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sidebarLogo_text {
    0% {
        transform: translateX(0);
        width: 98px;
    }
    100% {
        transform: translateX(-32px);
        width: 0;
        opacity: 0;
    }
}

#sidebarLogo {
    font-weight: bold;
    font-size: 32px;
    height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #fff;
    background: linear-gradient(30deg, rgb(18, 53, 142), var(--color-primary-darker));
    text-align: center;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#sidebarLogo #sidebarLogo_inner {
    height: 50px;
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sidebarLogo_inner 1s ease forwards 0.25s;
    opacity: 0;
}

#sidebarLogo #sidebarLogo_icon {
    height: 50px;
}

#sidebarLogo #sidebarLogo_text {
    height: 24px;
    width: 98px;
    margin-left: 8px;
    animation: sidebarLogo_text 0.5s ease forwards 1.5s;
}



#innerView_groupList {
    background: linear-gradient(#cce9f3, #f8f8f8);
}

.groupList_header {
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -2px;
    padding: 5% 8%;
}

.groupList_list {
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.groupList_card {
    background: #fdfdfd;
    border: solid 1px #0002;
    border-radius: 4px;
    box-shadow: 0 4px 4px #0003;
    width: 400px;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: 0.2s ease;
}

.groupList_card:hover {
    background: #fff;
    box-shadow: 0 8px 12px #0002;
    width: 400px;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.groupList_avatar {
    width: 80px;
    height: 80px;
    background: slateblue;
    border-radius: 4px;
    box-shadow: 0 2px 2px #0004;
}

.groupList_title {
    font-weight: bold;
    font-size: 24px;
}

.sidebarCategoryHeader {
    font-weight: bold;
    padding: 4px 8px;
}

#innerView_logo div {
    height: 400px;
    background-repeat: no-repeat !important;
}