

html {
    background: #222;
    height: 100%;
    font-family: HelveticaNeueCyr;
    color: #eee;
}

body {
    margin: 0;
    height: 100%;
}

video {
    width: 320px;
    height: 240px;
    border: solid 2px orange;
    border-radius: 3px;
}

#remoteView {
    border-color: lightgreen;
}

#chatContainer, #userList {
    display: flex;
    flex-direction: column;
    background: #555;
    border-radius: 3px;
    border: solid 1px #fff2;
    height: 300px;
    width: 300px;
}

input {
    background: #222;
    border: solid 1px #fff2;
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 3px;
}

#videoElements {
    background: #333;
    border-radius: 3px;
    border: solid 1px #fff2;
    padding: 8px;
}