body{

    padding: 0;
    margin: 0;
    background-image: url(/bubbleApp/app_external/landing/img/background.png);
    background-size: cover;
    
}
button{
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 4vw;
    text-align: center;
    cursor: pointer;
    font-family: 'Russo One', Helvetica;
}
a,
a:hover{
    text-decoration: none;
    font-family: 'Russo One', Helvetica;
    font-size: 2vw;
    text-indent: 30pt;
}
.text-wrapper{
    color: #00509d;
}

.text-rec{
    color: #ffffff;
}
h1{
    font-family:'Russo One', Helvetica;
    color: #ffffffd1;
    font-size: 11vw;
    text-align: center;
    margin: 0;
    padding: 0;

}
h2{
    font-family:'Russo One', Helvetica;
    color: #ffffffd1;
    font-size: 11vw;
    text-align: center;
    margin: 0;
    padding: 0;

}
h3{
    
    font-family: 'Russo One', Helvetica;
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    line-height: normal;
    text-align: center;
    margin-top: 0;
    padding: 0;
    
}
h4{
    font-family: 'Russo One', Helvetica;
    color: #002C73;
    font-size: 30px;
    margin-top: 5px;
    padding: 0;
}
h5{
    font-family: 'Russo One', Helvetica;
    color: #002C73;
    font-size: 24px;
    margin-bottom: 0;
    padding: 0;

}
.div-logo{
    background: url(img/logo-back.svg) no-repeat;
    background-size:100% auto;
    width: 25vw;
    height:25vh;
    
}
.logo{
    
    width: 16vw;
    height:8vh;
    padding-top: 3vh;
    
}
.logo2{
    display: none;
}
.t{
    color: #00509d;
}
.group{
    display: flex;
    width: 70vw;
    height: 8vh;
    justify-content:space-between;
    padding: 5vh 1vw;
    align-items: center;
}

.overlap-group{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-aicon{
    margin-left: 1vw;
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.subtract-1{
    
    height: auto;
    width: 50%;
    background: url(img/icon-b.svg) no-repeat;
    background-size:100% 100%;
}
.subtract-2{
    width: 50%;
    height: auto;
    background: url(img/icon-a.svg) no-repeat;
    background-size: 100% 100%;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:auto;
    padding: 0;
    margin: 0;
}
.tx{
    padding: 0.3em 1.5em; /* Поля по вертикали и горизонтали */
    background-color: #00509d;; /* Прозрачный цвет фона */
    font-size: 2vw; /* Размер текста */
    color: #ffffff; /* Цвет текста */
    border-radius: 0.4em;
}
.text-wrapper-1{
    padding: 0.3em 1.5em; /* Поля по вертикали и горизонтали */
    background-color: #00509d;; /* Прозрачный цвет фона */
    font-size: 2vw; /* Размер текста */
    color: #ffffff; /* Цвет текста */
    border-radius: 0.4em;
}
section-1{
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}
.contener-about{
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin: 2.5vh 0.5vw;
    width:70vw;
    height: auto;
}
.rut-p{
    width: 30vw;

}
.text{
    
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.b1{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    
    
}
section-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.overlap-group-2 {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    overflow: hidden;
    background-color: #779de7bd;
    border-radius: 157px;
    box-shadow: 0px -24px 4px #00509d;
}
.bubbles{
    height: 97%;
    margin-block: auto;
}
.image1{
    display: block;
    height: 100%;
    width: auto;
}
.image2{
    display: none;
}
.text-about{
    padding: 5vh 7vw;
}
p{
    font-family:'Russo One', Helvetica;
    color: #002C73;
    font-size: 28px;
    text-align: center 
}
h6{
    font-family:'Russo One', Helvetica;
    color: #002C73;
    font-size: 2.5vh;
    text-align: left
}


section-3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.inform-about-us{
    display: flex;
    width: 98%;
    flex-direction: column;
    justify-content: center;
}
.text-inform{
    margin-top: 4vh;
}
.cards{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;   
    width: 100%;
    height: auto;
    padding: 2vh 0vw;
    margin: auto;
    padding: auto;
    justify-content: center;

    
}
.card{
    width: 590px;
    height: 240px;
    margin: 1vh 1vw;
    background-color: #c2d9f0;
    border-radius: 15px;
}
.text-and-img{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 95%;

}
.img-card{
    width: auto;
    margin: 1vh 1vw;
    height: 88%;
    object-fit: cover;
    border-radius: 15px ;
    
}
.text-card-info{
    margin: auto;
  
}
.text-card{
    text-align: left;
    margin: 1vh 1vw;
}
section-4{
    width: 100%;
    height: 48vh;
    display: flex;
    justify-content: center;
}
.contener-r{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 8vh;
    height: auto;
    width: 100%;
    
    
}
.view{
    width: 530px;
    height: 455px;
    background-color: #c2d9f0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    
}
.div{
    width: 98%;
    text-align:left;
}
.r-group{
    margin: 1.5vw 1vh;
    background-color:rgba(119, 157, 231, 0.74);
    border-radius: 30px;
    width: 91%;
    height:92%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:auto;
    padding: 0;
}
.rectangle{
    margin:auto;
}
.rectangle input{
    width: 100%;
    font-family: 'Russo One', Helvetica;
    font-size: 30px;
    font-style: 300;
    color:#002C73;
    background-color: rgba(195, 218, 240, 1);
    border-radius: 15px;
    padding: 4px 8px;
    border: none;
    

}
.over-button{
    display: flex;
    padding-top: 5vh;
    justify-content: center;
    width: 100%;
    
}
.text-wrapper-2{
    padding: 0.1em 1em; /* Поля по вертикали и горизонтали */
    background-color: rgba(195, 218, 240, 1); /* Прозрачный цвет фона */
    border-radius: 0.4em;
    font-size: 30px;
    font-family:'Russo One', Helvetica;
    color: #002C73;
    letter-spacing: 0;
    line-height: normal;
   
}
footer{
    width: 100%;
    height: 52vh;
    display: flex;
    background-size: 100% 100%;
    background-image: url(img/footer.svg);
}
.image-rut{
    height: 90%;
    width: auto;
    margin: 3vh 15vw;
}
.man{
    height: 500px;
    width: 400px;
    position:relative;
    top:-277px;
    left:-30vw;
    z-index: 1;
}
.footer-tv{
    
    width: 28vw;
    margin-top: 5vh;
    margin-left: 2vw;
    background: url( img/TV.svg) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    
}

@media screen and (max-width:1270px) {
    .div-logo{
        background: url(img/logo-back2.svg) no-repeat;
        background-size:100%;
        width: 17vh;
        height:17vh;
        padding: 0.5% 1%;
        
    }
    .logo{
        display: none;
    }
    .logo2{
        display: flex;
        width: auto;
        height:10vh;
        padding-top: 3vh;
    }
    .text-wrapper{
        display: none;
    }
    .tx{
        display: none;
    }
    .group{
        width: 12vw;
        height: 10vh;
        justify-content:right;
        padding-right: 3vw;
    }
    
    
    
    
    .overlap-group{
        width: 100%;
        height: 100%;
       
    }
    .div-aicon{
       
        height: 100%;
        width: 100%;
       
    }
    .text-about{
        padding: 2vh 3vw;
    }
    .bubbles{
        height: 80%;
      
    }
}
@media screen and (max-width:1050px){
    .contener-about{
        width:85%;
    }
    .rut-p{
        width: 45%;
    
    }
    section-4{
        
        height: 60vh;
    }
    .footer-tv{
        margin-left: 0.3vw;
        
    }
    .man{
        width: 0vw;
        height: 0vh;
    }
   
}

@media screen and (max-width:965px){
   h1{
    font-size: 136px;
    }
    p{
        font-size: 25px;
    }
    .rut-p{
    display: none;
   }
   .text{
    width: 100%;
    height: 50vh;
    }
    section-4{
        
        height: 75vh;
    }
    .overlap-group-2 {
        border-radius: 100px;
        box-shadow: 0px -18px 2px #00509d;
       
    }
    .bubbles{
        width: 100%;
        height: auto;
        margin-block: auto;
    }
    .image1{
        display: none;
        
    }
    .image2{
        display: block;
        width: 100%;
        height: auto;
        
    }
    .text-about{
        padding: 2vh 5vw;
    }
    .text-inform{
        margin-top: 4vh;
    }
    
    .card{
        width: 70%;
        height: auto;
       
    }
    .img-card{
        width: 40%;
        height: auto;
        margin: 1vh 1vw;
        height: 85%;
        object-fit: cover;
        border-radius: 15px ;
    }
}
@media screen and (max-width:700px){
    section-1{
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    a,
    a:hover{
        
        font-size: 14px;
    }
    .text-wrapper-1 {
       
        font-size: 14px;
        
    }
    .group{
        width: 15vw;
        height: 25px;
        padding:  auto;
       
    }
    
    .div-logo{
        width: 20vw;
        height:20vw;  
    }
    .logo2{
        width: 60%;
        height:auto;
        padding-top: 1vh;
    }
    h1{
        font-size: 20vw;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 3.5vw;
    }
    h6{
        font-size: 2.5vw;
    }
    h4{
        font-size: 5vw;
    }
    h5{
        font-size: 4vw;
    }
    .overlap-group-2 {
        border-radius: 50px;
        box-shadow: 0px -13px 2px #00509d;
       
    }

    .view{
        width: 79vw;
        border-radius: 30px;  
    }
    
    .r-group{
        margin: auto ;
        border-radius: 30px;
    }
    .rectangle{
        margin:auto;
    }
    .rectangle input{
        width: 98%;
        font-size: 4vw;
    }
   
    .text-wrapper-2{
        font-size: 4vw;
    }
    .contener-r{
        padding-top: 1vh;
    }
    footer{
        
        height: 20vh;
    }
}
@media screen and (max-width:500px){
    .view{
        height:  310px;
        
    }
    footer{
        
        height: 15vh;
    }
}
@font-face {
    font-family: 'Russo One';
    src: local('Russo One'), local('RussoOne'), url('fonts/russoone.woff2') format('woff2'), url('fonts/russoone.woff') format('woff'), url('fonts/russoone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


